
.foms label{
	
	display: block;
	padding-top: 11px;
	line-height: 28px;
}

.sub{
	padding-top: 30px;
	text-align: center;
}
.appointment-btn{
	color: black;
	font-weight: 500;
	height: 29px;
    width: 80px;
    font-size: 15px;
    background-color: palegreen;
    cursor: pointer;
    border-color: white;
}