.carted{
	display: flex;
	justify-content: center;
}
.cart-card{
	
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	min-width: 50vw;
	margin-top: 8px;
	margin-right: 20px;

}
.prod-name{
 max-width: 140px;
}
.inc-dec-butt button{
 width: 25px;
}
.cart-card img{
   width: 100px;
   border: solid 1px;
}
.cart-card input{
   max-width: 30px;
}
.price-item {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.cart-description{
	height: 300px;
	min-width: 25vw;
	padding: 20px;
	border-radius: 6px;
	background: #f6f6f6;
	position: sticky;
	top:0;
	height: fit-content;
}
.cart-description button{
	background-color: lightgreen;
	text-align: center;
}