.cart-card{
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 8px 0 8px 0px;

}

.cart-card img{
   width: 100px;
   border: solid 1px;
}
.cart-card input{
   max-width: 30px;
}