a{
	text-decoration: none;
	color: black;

}
.card{
	margin: 5px;
	border: 2px solid #ededed;
	border-radius: 0.25rem;
	padding: 20px;
	cursor: pointer;
	width: 100%;
	max-width: 15rem;
	height: 20rem;
}
.card img{
	height: 140px;
}

.card-title{
	margin-bottom: 1rem;
}
.ProductList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.price{
	display: flex;
	gap: 20px;
	width: 100%;	
}
.card-details{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 98px;
}
